@import url(https://fonts.googleapis.com/css?family=Roboto)

body
	font-family "Roboto", sans-serif
	margin 0
	width 100%
	
header
	color #eee
	background-color #111
	padding .5em 0
	
	h1
		margin-left 1em
	
	span
		margin-right 1em

footer
	color #eee
	background-color #111
	padding 1em 0
	text-align center
	margin-top 1.7em
	
a
	text-decoration none
	font-weight bolder
	color #97c93e
	
.course__item
	background-color #ebebeb
	max-width 600px
	margin 1em auto
	border-radius 10px
	color #686868
	padding .5em
	transition ease .8s
	cursor pointer
	
	.course__right
		padding 0

	img
		transition ease .8s
		width 50%
	
	&:hover
		background-color #111
		color white
		
		img
			transform rotate(360deg)

.loading
	margin 0 auto	

#aplication
	margin 1em 0
	
.no-margin
	margin 0
	
.title
	font-size 2em
	text-align center
	color darken(#97c93e, 10%)
	text-transform uppercase
	
.icon-github
	img
		transition 1s all
	
	&:hover
		img
			transform rotate(360deg)
